@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.opacity-0 {
  opacity: 0;
}


/* Nav.js */
.nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 1rem 0;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link-active {
  color: #f9c80e;
}

.blur-background {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.7);
}

/* Hero.js */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  50% {
    transform: translateY(-10px);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}


.animation-bounce {
  animation: bounce 5s ease infinite;
}



/* About.js */
.about {
  padding: 2rem 0;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.about-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.5;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


/* estilo de titulos de cada sección */
.section-title {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  color: #66b3ff;
  padding-bottom: 4px;
  border-bottom: 2px solid #66b3ff;
  display: inline-block;
}

.section-icon {
  color: #66b3ff;
}

/* Animaciones de Skills */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
  opacity: 0;
}

.grid .fade-in-up:nth-child(odd) {
  animation-delay: 0.5s;
}

.grid .fade-in-up:nth-child(even) {
  animation-delay: 1s;
}



/* AAAAAAAAAAAAAAAAAAAAAAAAAAA */

.nav-desktop {
  display: block;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 1023px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
}


/* scroll snap section */

.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.snap-section {
  scroll-snap-align: start;
  height: 100vh;
}
